@charset "UTF-8";
/* photon ✴ Theme Components and Templates */
/* Bree Serif - 400 */
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
/* Lato */
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,400i,700,900");
@font-face {
  font-family: 'photon-social';
  src: url("../fonts/photon-social.eot?20845125");
  src: url("../fonts/photon-social.eot?20845125#iefix") format("embedded-opentype"), url("../fonts/photon-social.woff?20845125") format("woff"), url("../fonts/photon-social.ttf?20845125") format("truetype"), url("../fonts/photon-social.svg?20845125#photon-social") format("svg");
  font-weight: normal;
  font-style: normal; }
:root {
  --color-fg: #36463d;
  --color-bg: white;
  --color-key: #a69159; }

/* articles/article *****************************/
:root {
  --article-color: var(--color-fg);
  --article-bg: var(--color-bg);
  --article-hover-color: var(--color-bg);
  --article-hover-bg: var(--color-fg); }

article {
  padding: var(--fitz);
  color: var(--article-color);
  background: var(--article-bg);
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: flex-start; }
  article > * {
    margin: var(--fitz);
    padding: var(--fitz); }
  article > figure {
    grid-area: figure;
    padding: 0;
    height: 100%;
    background: var(--color-key);
    overflow: hidden;
    text-align: center; }
    article > figure > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    article > figure > figcaption {
      text-align: center; }
  article > header {
    grid-area: header;
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
    article > header > h1 {
      text-align: left; }
    article > header > nav {
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 0;
      text-align: left; }
      article > header > nav a {
        padding: 0; }
        article > header > nav a::after {
          content: ">";
          padding: 0 .25em; }
    article > header > time {
      font-size: .6em;
      padding-top: .5em; }
  article > main {
    grid-area: main;
    display: block;
    text-align: left;
    widows: 2;
    orphans: 2; }
    article > main > div {
      width: 100%;
      margin-bottom: 1em;
      column-span: all; }
    article > main p, article > main ol, article > main ul, article > main h1, article > main h2 {
      margin-bottom: 1em;
      widows: 2;
      orphans: 2; }
      article > main p:last-child, article > main ol:last-child, article > main ul:last-child, article > main h1:last-child, article > main h2:last-child {
        margin-bottom: 0; }
  article > footer {
    grid-area: footer;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    article > footer > aside {
      min-width: 10em; }
      article > footer > aside ul, article > footer > aside li {
        margin: 0; }
        article > footer > aside ul h3, article > footer > aside li h3 {
          font-size: 1em; }
    article > footer > nav {
      align-content: flex-end;
      flex-flow: row; }
    article > footer a {
      letter-spacing: .25em;
      text-transform: uppercase; }
  article > .data {
    grid-area: data; }
    article > .data h1, article > .data table {
      text-align: center;
      width: 100%; }
    article > .data h1 {
      text-decoration: underline; }
    article > .data th, article > .data td {
      display: block;
      text-align: center;
      width: 100%; }
    article > .data th {
      font-size: .7em;
      letter-spacing: .25em;
      padding-left: .25em;
      padding-bottom: 0;
      text-transform: uppercase; }
    article > .data td {
      padding-top: 0; }
  article > .article-gallery {
    grid-area: gallery;
    padding: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, var(--col));
    grid-auto-flow: row; }
    article > .article-gallery > figure {
      overflow: hidden;
      text-align: center; }
      article > .article-gallery > figure a {
        display: block; }
        article > .article-gallery > figure a > img {
          object-fit: cover;
          object-position: center; }
        article > .article-gallery > figure a > figcaption {
          text-align: center; }
  article .sibling {
    grid-area: sibling;
    position: relative;
    font-size: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    article .sibling > a {
      width: 100%;
      display: flex;
      flex-flow: row; }
      article .sibling > a.prev {
        justify-content: flex-start; }
        article .sibling > a.prev:before {
          content: "<";
          height: 100%;
          padding-right: .5em; }
      article .sibling > a.next {
        justify-content: flex-end; }
        article .sibling > a.next:after {
          content: ">";
          height: 100%;
          padding-left: .5em; }
  article .breadcrumbs a {
    flex-flow: row; }
  article.excerpt, article.showcase {
    cursor: pointer; }
    article.excerpt .article-share, article.showcase .article-share {
      display: none; }
    article.excerpt:hover, article.showcase:hover {
      color: var(--article-hover-color);
      background: var(--article-hover-bg); }
      article.excerpt:hover .more, article.showcase:hover .more {
        color: var(--color-1);
        background: var(--color-key); }
      article.excerpt:hover a:hover, article.showcase:hover a:hover {
        color: var(--color-1);
        background: var(--color-key); }
    article.excerpt .more, article.showcase .more {
      align-self: flex-end; }
  @media (min-width: 54em) {
    @supports (display: grid) {
      article {
        display: grid;
        grid-template-areas: ' figure figure ' ' header footer' ' main footer' ' gallery   data';
        grid-template-columns: 1fr var(--col);
        grid-gap: 1em; }
        article > footer {
          flex-flow: column; } } }

/* asides/aside *****************************/
aside {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-content: flex-start; }
  aside h1 {
    font-variant: small-caps;
    text-decoration: underline;
    font-size: 1.1em; }
  aside ul {
    margin: 0 1em; }
    aside ul > li {
      margin: .4em;
      width: 100%; }
      aside ul > li > span {
        font-size: .75em;
        font-weight: bold;
        padding: 0.25em;
        margin-left: .5em;
        background: #59a678;
        border-radius: 20% 20%; }
  aside p {
    padding-bottom: .2em; }
  aside > a {
    display: list-item;
    list-style: square outside;
    margin-left: var(--fitz-2); }
  aside.org {
    font-size: .7em;
    text-align: center; }
  aside.article-share ul {
    font-family: "photon-social", sans-serif;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between; }
    aside.article-share ul a {
      text-transform: inherit;
      padding: .3em;
      font-size: 1.1em; }

/* asides/search *****************************/
aside.search > section {
  flex-flow: column nowrap; }

.search-result-title {
  font-weight: 700; }

.search-result {
  font-weight: 300; }

.search-keyword {
  font-weight: 700;
  font-style: normal; }

/* sections/_default *****************************/
section, .asides, .featured, footer, header, main, nav, .showcase {
  display: flex; }

/* sections/asides *****************************/
.asides {
  padding: var(--fitz-2);
  flex-wrap: wrap;
  justify-content: space-between; }
  .asides > aside {
    margin-bottom: var(--fitz-2); }
  @media (min-width: 72em) {
    .asides {
      flex-direction: column; } }

/* sections/featured *****************************/
.featured {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(var(--col), 1fr));
  overflow: auto; }
  .featured > h1 {
    grid-column: 1 / -1;
    padding-top: var(--fitz-2);
    letter-spacing: .25em;
    padding-left: .25em;
    text-align: center;
    text-transform: uppercase; }
  .featured > article {
    /* article-card */
    display: flex; }
    .featured > article > figure {
      height: 10em; }
    .featured > article > header {
      text-align: center; }
      .featured > article > header > * {
        text-align: center; }
    .featured > article > main {
      align-content: flex-start; }
      .featured > article > main .more {
        margin: 0 auto;
        text-align: center;
        display: block; }
    .featured > article > footer {
      flex-flow: column nowrap; }
      .featured > article > footer > aside {
        padding: 0; }
        .featured > article > footer > aside > h1 {
          display: none; }
        .featured > article > footer > aside ul, .featured > article > footer > aside li {
          display: inline; }
      .featured > article > footer > nav {
        text-align: right;
        padding: 0;
        align-self: flex-end;
        justify-content: right; }

/* sections/footer *****************************/
footer {
  padding: 1em;
  flex-direction: column; }

/* sections/header *****************************/
:root {
  --header-block: 10em; }

header {
  align-items: center;
  justify-content: space-around; }
  header .logo {
    display: flex;
    justify-content: center;
    align-content: center; }
    header .logo a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: var(--fitz); }
      header .logo a img {
        height: 3em;
        margin: 0 auto; }
      header .logo a h1 {
        font-size: 1.2em;
        letter-spacing: .1em;
        padding-left: .5em;
        text-align: center; }
  header nav {
    display: none; }
  header .contact {
    width: var(--header-block);
    width: 20em;
    height: var(--header-block);
    padding: var(--fitz);
    justify-content: center;
    display: none; }
    header .contact p {
      font-size: .8em;
      text-align: center; }
  header .toggle {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  header.expand {
    flex-flow: row wrap;
    height: calc(100vh - calc( var(--fitz-2) * 2 )); }
    header.expand .logo {
      order: 1;
      width: 70%; }
    header.expand .toggle {
      order: 2; }
    header.expand nav {
      display: flex;
      flex-flow: column;
      order: 3;
      width: 100%; }
    header.expand .contact {
      display: flex;
      order: 4; }
  @media (min-width: 36em) {
    header .logo img {
      height: 5em; }
    header .logo > a > h1 {
      font-size: 2em; } }
  @media (min-width: 54em) {
    header .logo {
      width: auto;
      height: auto;
      flex-flow: column;
      padding: var(--fitz); }
      header .logo a {
        flex-direction: column; }
        header .logo a img {
          width: auto;
          height: 5em; }
        header .logo a h1 {
          font-size: 1em;
          letter-spacing: .1em;
          padding-left: .1em;
          text-align: center; }
    header .toggle {
      display: none; }
    header .contact {
      display: flex;
      width: auto;
      height: auto; }
    header nav {
      display: flex; } }

/* on/main *****************************/
main {
  flex-flow: column nowrap; }

/* sections/nav *****************************/
nav {
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center; }
  nav a {
    padding: .25em 1em;
    margin-left: .1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center; }
  nav.breadcrumbs {
    width: auto; }

/* sections/showcase *****************************/
.showcase {
  position: relative;
  display: block; }
  .showcase > article {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-flow: column; }
    .showcase > article > figure > figcaption {
      display: none; }

/* templates/_default *****************************/
:root {
  --body-bg: #6e8e7c;
  --body-header-bg: var(--color-bg);
  --body-header-height: 10em;
  --body-footer-bg: var(--color-bg);
  --body-asides-bg: var(--color-bg);
  --body-form-bg: var(--color-bg);
  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);
  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
  --col-4: calc( var(--col) * 4 );
  --col-5: calc( var(--col) * 5 );
  --col-6: calc( var(--col) * 6 ); }

body {
  background: var(--body-bg);
  padding: var(--fitz);
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: flex-start; }
  body > header, body > main, body > .asides, body > footer, body.home > .showcase, body.home > .welcome, body.home > .featured {
    margin: var(--fitz); }
  body > header {
    height: var(--body-header-height);
    padding: var(--fitz-2);
    background: var(--body-header-bg);
    overflow: hidden; }
  body > main {
    margin: 0;
    display: flex;
    flex-flow: column; }
    body > main > * {
      margin: var(--fitz);
      padding: var(--fitz); }
    body > main > .collection {
      width: 100%;
      flex-flow: column;
      padding: 0;
      margin: 0; }
      body > main > .collection > * {
        margin: var(--fitz);
        padding: var(--fitz-2); }
      body > main > .collection > h1 {
        padding: 0;
        color: var(--color-bg); }
      body > main > .collection .excerpt {
        /* article-banner */ }
        body > main > .collection .excerpt > figure {
          max-height: 9em; }
          body > main > .collection .excerpt > figure > img {
            height: 100%;
            object-fit: cover;
            object-position: center; }
        body > main > .collection .excerpt > header,
        body > main > .collection .excerpt > main,
        body > main > .collection .excerpt > main > div {
          text-align: left; }
        body > main > .collection .excerpt > footer {
          flex-flow: row wrap;
          justify-content: space-between; }
          body > main > .collection .excerpt > footer > aside {
            padding: 0; }
            body > main > .collection .excerpt > footer > aside > h1 {
              display: none; }
          body > main > .collection .excerpt > footer > nav {
            padding: 0;
            justify-content: flex-end; }
        @media (min-width: 54em) {
          @supports (display: grid) {
            body > main > .collection .excerpt {
              display: grid;
              grid-template-areas: ' figure header ' ' figure main ' ' figure footer';
              grid-template-columns: 10em 1fr;
              grid-template-rows: auto 1fr auto; } } }
    body > main > section.form {
      background: var(--body-form-bg);
      flex-flow: column; }
      body > main > section.form form {
        width: 100%; }
  body > .asides {
    background: var(--body-asides-bg); }
  body > footer {
    background: var(--body-footer-bg); }
  @media (min-width: 72em) {
    @supports (display: grid) {
      body {
        display: grid;
        grid-template-areas: " header main " " asides main " " footer footer ";
        grid-template-columns: var(--col) 1fr;
        grid-template-rows: auto 1fr auto; }
        body > header {
          grid-area: header;
          height: auto;
          flex-direction: column; }
          body > header > .logo img {
            height: 8em; }
          body > header > nav {
            padding: 1em 0;
            flex-flow: column nowrap;
            justify-content: center; }
            body > header > nav a {
              text-align: center; }
        body > main {
          grid-area: main; }
        body > .asides {
          grid-area: asides; }
        body > footer {
          grid-area: footer; } } }
  @media (min-width: 90em) {
    body > main {
      flex-flow: row; }
      body > main > .collection > .excerpt {
        /* article-banner */ }
        body > main > .collection > .excerpt > figure {
          max-height: 9em; }
          body > main > .collection > .excerpt > figure > img {
            height: 100%;
            object-fit: cover;
            object-position: center; }
        body > main > .collection > .excerpt > header,
        body > main > .collection > .excerpt > main,
        body > main > .collection > .excerpt > main > div {
          text-align: left; }
        body > main > .collection > .excerpt > footer {
          flex-flow: row wrap;
          justify-content: space-between; }
          body > main > .collection > .excerpt > footer > aside {
            padding: 0; }
            body > main > .collection > .excerpt > footer > aside > h1 {
              display: none; }
          body > main > .collection > .excerpt > footer > nav {
            padding: 0;
            justify-content: flex-end; } }
    @media (min-width: 90em) and (min-width: 54em) {
      @supports (display: grid) {
        body > main > .collection > .excerpt {
          display: grid;
          grid-template-areas: ' figure header ' ' figure main ' ' figure footer';
          grid-template-columns: 10em 1fr;
          grid-template-rows: auto 1fr auto; } } }

  @media (min-width: 126em) {
    body > main > .collection {
      width: var(--col-6);
      width: 50%; }
      body > main > .collection > .excerpt {
        /* article-banner */ }
        body > main > .collection > .excerpt > figure {
          max-height: 9em; }
          body > main > .collection > .excerpt > figure > img {
            height: 100%;
            object-fit: cover;
            object-position: center; }
        body > main > .collection > .excerpt > header,
        body > main > .collection > .excerpt > main,
        body > main > .collection > .excerpt > main > div {
          text-align: left; }
        body > main > .collection > .excerpt > footer {
          flex-flow: row wrap;
          justify-content: space-between; }
          body > main > .collection > .excerpt > footer > aside {
            padding: 0; }
            body > main > .collection > .excerpt > footer > aside > h1 {
              display: none; }
          body > main > .collection > .excerpt > footer > nav {
            padding: 0;
            justify-content: flex-end; } }
    @media (min-width: 126em) and (min-width: 54em) {
      @supports (display: grid) {
        body > main > .collection > .excerpt {
          display: grid;
          grid-template-areas: ' figure header ' ' figure main ' ' figure footer';
          grid-template-columns: 10em 1fr;
          grid-template-rows: auto 1fr auto; } } }

/* templates/home *****************************/
body.home > .showcase {
  padding: 0;
  height: calc(100vh - var(--body-header-height) - (var(--fitz-2) * 3)); }
@media (min-width: 72em) {
  @supports (display: grid) {
    body.home {
      display: grid;
      grid-template-areas: "  header   showcase " "  featured featured " "  asides   main   " "  footer   footer   ";
      grid-template-rows: calc(100vh - var(--fitz-2)); }
      body.home > .showcase {
        grid-area: showcase;
        height: calc(100vh - 2em); }
      body.home > .featured {
        grid-area: featured; } } }
@media (min-width: 90em) {
  @supports (display: grid) {
    body.home {
      display: grid;
      grid-template-areas: "  header   showcase featured" "  welcome welcome welcome" "  asides   main   main" "  footer   footer   footer";
      grid-template-rows: calc(100vh - var(--fitz-2));
      grid-template-columns: var(--col) 2fr 1fr; }
      body.home > main {
        flex-flow: column; }
        body.home > main > .collection {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(24em, 1fr)); }
          body.home > main > .collection > h1 {
            grid-column: 1 / -1; }
          body.home > main > .collection > .excerpt {
            /* article-card */
            display: flex; }
            body.home > main > .collection > .excerpt > figure {
              height: 10em; }
            body.home > main > .collection > .excerpt > header {
              text-align: center; }
              body.home > main > .collection > .excerpt > header > * {
                text-align: center; }
            body.home > main > .collection > .excerpt > main {
              align-content: flex-start; }
              body.home > main > .collection > .excerpt > main .more {
                margin: 0 auto;
                text-align: center;
                display: block; }
            body.home > main > .collection > .excerpt > footer {
              flex-flow: column nowrap; }
              body.home > main > .collection > .excerpt > footer > aside {
                padding: 0; }
                body.home > main > .collection > .excerpt > footer > aside > h1 {
                  display: none; }
                body.home > main > .collection > .excerpt > footer > aside ul, body.home > main > .collection > .excerpt > footer > aside li {
                  display: inline; }
              body.home > main > .collection > .excerpt > footer > nav {
                text-align: right;
                padding: 0;
                align-self: flex-end;
                justify-content: right; }
      body.home > .featured {
        flex-flow: column; } } }

/* templates/article *****************************/
body.article > main > article:first-child figure {
  max-height: 50vh; }

/* Print *****************************/
@page {
  size: 8.5in 11in;
  margin: .75in; }
@media print {
  html {
    font-size: 12pt;
    width: 8.5in;
    display: block; }

  body {
    width: 8.5in;
    grid-template-columns: 1fr;
    display: block; }
    body > header {
      width: 100%;
      flex-direction: row;
      align-content: center; }
      body > header > h1 {
        font-size: 1.1em; }
      body > header > nav {
        display: none; }
      body > header img {
        width: 5em; }
    body > footer,
    body > .asides {
      display: none; }
    body article > footer > .article-share {
      display: none; }
    body article > footer > nav.sibling {
      display: none; }
    body article > nav {
      display: none; } }

/*# sourceMappingURL=photon.css.map */
