@charset "UTF-8";
/* photon ✴ Theme Components and Templates */
/* fonts *****************************/
@font-face {
  font-family: "photon-icon";
  src: url("../font/photon-icon.eot?72950484");
  src: url("../font/photon-icon.eot?72950484#iefix") format("embedded-opentype"), url("../font/photon-icon.woff2?72950484") format("woff2"), url("../font/photon-icon.woff?72950484") format("woff"), url("../font/photon-icon.ttf?72950484") format("truetype"), url("../font/photon-icon.svg?72950484#photon-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font: serif;
  --font-display: sans-serif;
  --font-code: monospace;
  --font-form: var(--font);
  --font-icon: "photon-icon";
  --bullet: "✴";
}

/* color *****************************/
:root {
  --color-key-lighter: hsl( var(--hue-key), var(--sat), var(--lighter) );
  --color-key-light: hsl( var(--hue-key), var(--sat), var(--light) );
  --color-key: hsl( var(--hue-key), var(--sat), var(--mid) );
  --color-key-dark: hsl( var(--hue-key), var(--sat), var(--dark) );
  --color-key-darker: hsl( var(--hue-key), var(--sat), var(--darker) );
  --color-1-lighter: hsl( var(--hue-1), var(--sat), var(--lighter) );
  --color-1-light: hsl( var(--hue-1), var(--sat), var(--light) );
  --color-1: hsl( var(--hue-1), var(--sat), var(--mid) );
  --color-1-dark: hsl( var(--hue-1), var(--sat), var(--dark) );
  --color-1-darker: hsl( var(--hue-1), var(--sat), var(--darker) );
  --color-2-lighter: hsl( var(--hue-2), var(--sat), var(--lighter) );
  --color-2-light: hsl( var(--hue-2), var(--sat), var(--light) );
  --color-2: hsl( var(--hue-2), var(--sat), var(--mid) );
  --color-2-dark: hsl( var(--hue-2), var(--sat), var(--dark) );
  --color-2-darker: hsl( var(--hue-2), var(--sat), var(--darker) );
}

:root {
  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);
  --fitz-half: calc(var(--fitz) / 2);
  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
}

/* base elements *****************************/
/* elements/reset *****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
}

/* elements/html *****************************/
html {
  height: 100%;
  max-width: 100%;
  color: var(--color);
  background: var(--bg);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
}

/* elements/headings *****************************/
h4, h3, h2, h1 {
  font-family: var(--font-display);
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.5;
  display: block;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

/* elements/blocks *****************************/
p, div,
dd, dt,
details, summary {
  display: block;
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

/* elements/lists *****************************/
li, ol, ul {
  margin-left: 1em;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

li {
  font-feature-settings: "kern" 1, "onum" 1, "liga" 1;
}

/* elements/blockquotes *****************************/
blockquote {
  display: block;
  margin: var(--fitz-2) auto;
  font-size: 1.2em;
}
blockquote::before {
  content: "";
  height: 100%;
  width: 0.1em;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--color-key-dark);
}
blockquote > blockquote {
  margin: 0;
  padding-bottom: 0;
  font-style: italic;
}
blockquote > blockquote::before {
  content: var(--bullet);
  display: inline;
  padding-top: var(--fitz-2);
  background: inherit;
}
blockquote p {
  position: relative;
  margin-bottom: 0;
  overflow: visible;
}

/* elements/code *****************************/
pre,
code,
kbd,
samp {
  padding: 0.1em 0.25em;
  font-family: var(--font-code);
  font-size: 1em;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 0;
}

code {
  height: auto;
}
pre code {
  padding: 1em;
  display: block;
}

pre {
  display: block;
}

/* elements/a *****************************/
a {
  --color: var(--color-key);
  --bg: none;
  --a-active-color: var(--color-2-dark);
  --hover-color: var(--color-bg);
  --hover-bg: var(--color-key);
  color: var(--color);
  background: var(--bg);
  text-decoration: none;
}
a:link {
  color: var(--color);
}
a:visited {
  color: var(--color);
}
a:hover {
  --color: var(--hover-color);
  --bg: var(--hover-bg);
}
a:active {
  color: var(--a-active-color);
}

/* elements/inline *****************************/
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

cite {
  font-style: italic;
}

mark {
  --bg: var(--color-key);
  background: var(--bg);
}

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
}

small {
  line-height: 1;
  font-size: 0.8em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* elements/figure *****************************/
img {
  border-style: none;
  display: block;
}

figure {
  grid-area: figure;
  height: auto;
  display: block;
}
figure img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
figure figcaption {
  width: 100%;
}
/* elements/tables *****************************/
table {
  --border-color: var(--color-fg);
  max-width: 100%;
}

th,
td {
  padding: calc( var(--fitz) / 2 );
}

th {
  font-weight: 700;
  text-align: right;
}

/* elements/forms *****************************/
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font);
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0 1em 1em 1em;
  border: 5px solid #CC9;
  margin: 1em 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0 1em;
  font-weight: 700;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search] {
  outline-offset: -2px;
}

[hidden] {
  display: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
textarea {
  --bg: var(--color-key-lighter);
  display: block;
  padding: 0.4em;
  outline: 0 none;
  border: 1px solid var(--color);
  text-align: left;
  color: var(--color);
  background: var(--bg);
  appearance: none;
  width: 100%;
  max-width: 100%;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
textarea:focus {
  color: var(--color);
}
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=search]::placeholder,
input[type=text]::placeholder,
textarea::placeholder {
  --color: var(--color-key-dark);
}

input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: 0 none;
  border-radius: 0.5em;
  color: var(--color-key-lighter);
  background: var(--color-key);
  padding: 0.5em;
  margin: 0.5em 0;
  text-decoration: none;
}
select {
  height: 2.75em;
  margin: 0 0 2em;
  padding: 0.575em 2em 0.575em 1.125em;
  display: block;
  width: 100%;
  color: var(--color);
  border: 2px solid var(--color);
}

label {
  display: block;
  font-weight: bold;
  font-family: var(--font);
}

button {
  border: 0 none;
  border-radius: 0.5em;
  color: var(--color-key-lighter);
  background: var(--color-key);
  padding: 0.5em;
  margin: 0.5em;
  text-decoration: none;
}
button:hover {
  background: var(--color-key-light);
  text-decoration: none;
}

/* articles/article *****************************/
article {
  padding: var(--fitz);
  margin: var(--fitz);
  display: grid;
  grid-template-areas: " context context " " header figure " " content figure " " data figure " " footer footer ";
  grid-template-columns: auto auto;
}
article > * {
  padding: var(--fitz);
  margin: var(--fitz);
}
article > nav.context {
  grid-area: context;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
article > nav.context > a.prev {
  justify-content: flex-start;
}
article > nav.context > a.prev:before {
  font-family: var(--font-icon);
  content: "<";
  padding-right: 0.5em;
}
article > nav.context > a.next {
  justify-content: flex-end;
}
article > nav.context > a.next:after {
  font-family: var(--font-icon);
  content: ">";
  padding-left: 0.5em;
}
article > nav.context .breadcrumbs {
  text-align: center;
}
article > nav.context .breadcrumbs a {
  display: block;
  padding: 0;
}
article > nav.context .breadcrumbs a::before {
  font-family: var(--font-icon);
  content: "^";
  padding: 0 0.25em;
}
article > figure {
  grid-area: figure;
  overflow: hidden;
}
article > figure > img {
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}
article > figure:empty {
  display: none;
}
article > header {
  grid-area: header;
  width: 100%;
}
article > header > h1 {
  line-height: 1;
}
article > header > h2 {
  font-variant: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
article > .content {
  grid-area: content;
}
article > .content > * + * {
  margin-top: var(--fitz);
}
article > .content > .summary {
  border-top: 1px solid var(--color-key);
  padding-top: var(--fitz);
  border-bottom: 1px solid var(--color-key);
  padding-bottom: var(--fitz);
}
article > .content > .summary ul, article > .content > .summary li {
  margin: var(--fitz);
}
article > .content a {
  display: inline;
}
article > .content > blockquote {
  border-left: 1px solid var(--color-key);
  padding-left: var(--fitz);
}
article > .content > blockquote > blockquote {
  font-style: italic;
  list-style-type: square;
  padding-top: 0.5em;
}
article > .content > blockquote > ul {
  font-style: italic;
  list-style-type: square;
  padding-top: 0.5em;
}
article > footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article > footer > aside ul, article > footer > aside li, article > footer > nav ul, article > footer > nav li {
  display: flex;
  flex-wrap: wrap;
}
article > footer > aside.article-categories a, article > footer > nav.article-categories a {
  text-transform: uppercase;
}
article > footer > aside.article-tags a, article > footer > nav.article-tags a {
  font-style: italic;
}
article > aside {
  flex-flow: row wrap;
}
article > aside > h2 {
  display: none;
}
article > aside > a {
  padding: 0.2em;
}
article > .data {
  grid-area: data;
}
article > .data h1, article > .data table {
  width: auto;
  margin: 0 auto;
}
article > .data h1 {
  text-decoration: underline;
}
article > .data table table {
  border-left: 0.1em solid var(--color-fg);
}
article > .data th, article > .data td {
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0;
}
article > .data th {
  font-size: 0.7em;
  letter-spacing: 0.25em;
  padding-right: 0.5em;
  text-transform: uppercase;
  text-align: right;
}
article > .data td {
  text-align: left;
}
article > .gallery {
  grid-area: gallery;
  padding: 0.5em;
}
article > .gallery > .panel {
  grid-area: panel;
  display: none;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
article > .gallery > .list {
  grid-area: list;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc( var(--col)/2 ));
  grid-auto-flow: row;
  grid-gap: 0.5em;
  height: 100%;
  min-height: 5em;
}
article > .gallery > .list > figure {
  padding: var(--fitz);
  overflow: hidden;
  height: 100%;
  min-height: 5em;
}
article > .gallery > .list > figure > img {
  height: 100%;
  min-height: 5em;
  object-fit: cover;
  object-position: center;
}
article > .gallery > .list > figure > figcaption {
  text-align: center;
}
article > .gallery.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-template-areas: " panel " " list ";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10em;
}
article > .gallery.modal > .panel {
  display: block;
}
article > .gallery.modal > .list {
  width: 100%;
  height: 100%;
  min-height: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1em, 1fr));
}
article > .gallery.modal > .list > figure {
  width: 100%;
  height: 100%;
}
article > .gallery.modal > .list > figure > img {
  width: 100%;
}

article.excerpt {
  cursor: pointer;
  transition: box-shadow 0.5s, background 0.5s;
}
article.excerpt .article-share {
  display: none;
}
article.excerpt .more {
  align-self: flex-end;
}
article.excerpt:hover {
  --bg: var(--color-key-lighter);
  box-shadow: 0.5em 0.5em 0.7em rgba(0, 0, 0, 0.4);
}
/* asides *****************************/
/* asides/aside *****************************/
aside h1, aside h2, nav h1, nav h2 {
  font-size: 1.1em;
}
aside ul, nav ul {
  list-style: none;
}
aside ul li + li, nav ul li + li {
  margin-top: 0.4em;
}
aside > a, nav > a {
  display: list-item;
  list-style: none;
}
aside p, nav p {
  margin: var(--fitz-half);
  padding: var(--fitz-half);
}
aside.article-share ul, aside.follow ul, nav.article-share ul, nav.follow ul {
  font-family: var(--font-icon);
  list-style: none;
}
aside.article-share ul li, aside.follow ul li, nav.article-share ul li, nav.follow ul li {
  width: auto;
}
aside.article-share ul a, aside.follow ul a, nav.article-share ul a, nav.follow ul a {
  text-transform: inherit;
  padding: 0.3em;
  font-size: 1.1em;
}

nav {
  display: flex;
  flex-flow: column nowrap;
}
nav label {
  cursor: pointer;
  display: flex;
  margin: var(--fitz-half);
  padding: var(--fitz-half);
  justify-content: space-between;
}
nav label::after {
  display: block;
  font-family: var(--font-icon);
  content: "v";
}
nav input {
  display: none;
}
nav input:checked ~ label::after {
  content: "^";
}
nav input:checked ~ ul {
  display: block;
}
nav ul {
  display: none;
  transform-origin: top;
  width: 100%;
  margin: var(--fitz-half);
  padding: var(--fitz-half);
}
nav ul li {
  margin: 0;
  padding: 0;
  margin-left: var(--fitz-2);
}
nav ul li + li {
  margin-top: var(--fitz-half);
}
nav a {
  display: list-item;
}
nav a[aria-selected=true] {
  font-weight: 700;
  list-style: disc outside;
}
nav a[aria-current=true] {
  font-weight: 700;
}
@media (min-width: 48em) {
  nav label::after {
    font-family: var(--font-icon);
    content: "^";
  }
  nav input:checked ~ label::after {
    content: "v";
  }
  nav input:checked ~ ul {
    display: none;
  }
  nav ul {
    display: block;
  }
}

/* sections *****************************/
main, header, footer, .asides, section {
  padding: var(--fitz);
  margin: var(--fitz);
}

.asides {
  grid-area: asides;
}
.asides > aside {
  padding: var(--fitz);
  margin: var(--fitz);
}

footer {
  grid-area: footer;
}

header {
  grid-area: header;
}

/* sections/main *****************************/
main {
  grid-area: main;
}

/* templates/_default *****************************/
body {
  --body-bg: #ccc;
  --bg: hsla(255,100%,100%,.3);
  background: var(--body-bg);
  padding: var(--fitz);
  display: flex;
  flex-flow: column nowrap;
}
body > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > * > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > header {
  display: flex;
  flex-flow: row nowrap;
}
body > header .logo a {
  display: block;
  padding: var(--fitz);
}
body > header .logo a img {
  height: 3em;
  margin: 0.5em auto;
}
body > header .logo a h1 {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  padding-left: 0.5em;
  text-align: center;
}
body > header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body > header nav h1 {
  display: none;
}
body > header nav label::after {
  display: block;
  width: 100%;
}
body > header nav a {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
body > header .contact {
  padding: var(--fitz);
}
body > header .contact p {
  font-size: 0.8em;
  text-align: center;
}
body > main {
  display: flex;
  flex-flow: column nowrap;
}
body > main > article {
  max-width: 48em;
}
body > main > .collection {
  transition: position 0.5s;
}
body > main > .collection.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: black;
}
body > main > .collection > * {
  background: var(--bg);
  margin: var(--fitz);
  padding: var(--fitz);
}
body > main > .collection > header {
  grid-column: 1/-1;
}
body > main > .collection .excerpt {
  /* article-card */
}
body > main > .collection .excerpt > figure > img {
  width: 100%;
  height: 100%;
  height: calc(var(--col) - 2em);
}
body > main > .collection .excerpt > footer > aside {
  padding: 0;
}
body > main > .collection .excerpt > footer > aside > h1, body > main > .collection .excerpt > footer > aside h2 {
  display: none;
}
body > main > .collection .excerpt > footer > nav {
  text-align: right;
  padding: 0;
}
body > main > .collection .excerpt > footer .more {
  margin: 0 auto;
  text-align: center;
}
body > main > section.form form {
  width: 100%;
}
body > .asides {
  display: flex;
  flex-flow: column nowrap;
}
body > footer {
  display: flex;
  flex-flow: row wrap;
}
@media (orientation: landscape) {
  body {
    display: grid;
    grid-template-areas: " header main " " asides main " " asides footer ";
    grid-template-columns: var(--col) 1fr;
    grid-template-rows: auto 1fr auto;
  }
  body > header {
    flex-flow: column nowrap;
    align-items: stretch;
  }
  body > header > nav {
    flex-flow: column nowrap;
    align-items: center;
  }
  body > .asides {
    flex-flow: column nowrap;
    align-items: stretch;
  }
  body > footer {
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
@media (min-width: 72em) and (orientation: landscape) {
  body {
    display: grid;
    grid-template-areas: " header main asides" " footer main asides";
    grid-template-columns: var(--col) 1fr var(--col);
  }
}

/* templates/article *****************************/
/* templates/article *****************************/
body.roman > main > article {
  max-width: 48em;
}
body.roman > main > article .content {
  counter-reset: h1;
  counter-reset: h2;
  --indent: 2rem;
}
body.roman > main > article .content h2 {
  font-size: 1.1em;
  counter-reset: h3;
  counter-increment: h2;
  margin-left: calc( 2 * var(--indent));
}
body.roman > main > article .content h2::before {
  display: inline-block;
  width: var(--indent);
  margin-left: calc( -1 * var(--indent));
  content: counter(h2, upper-latin) ".";
}
body.roman > main > article .content h2 ~ p, body.roman > main > article .content h2 ~ ol, body.roman > main > article .content h2 ~ ul {
  margin-left: calc( 2 * var(--indent));
}
body.roman > main > article .content h1 {
  font-size: 1.1em;
  counter-reset: h2;
  counter-increment: h1;
  margin-left: var(--indent);
}
body.roman > main > article .content h1::before {
  display: inline-block;
  width: var(--indent);
  margin-left: calc( -1 * var(--indent));
  content: counter(h1, upper-roman) ".";
}
body.roman > main > article .content h1 ~ p, body.roman > main > article .content h1 ~ ol, body.roman > main > article .content h1 ~ ul {
  margin-left: var(--indent);
}

/*# sourceMappingURL=photon.css.map */
