article.showcase {
  cursor: pointer;
  transition: 
      box-shadow .5s,
      background .5s;

  height: 100%;

  @supports (display: grid) {
    display: grid;
    grid-template-areas:
      ' figure  '
      ' header '
      ' content '
      ' footer  ';
    grid-template-columns: 1fr;
    // grid-template-rows: 60vh;
  }

  > * {
  }

  > figure {
    grid-area: figure;
    width: auto;
    height:100%;

    > img {
      object-fit: cover;
    }

    &:empty {
      display: none;
    }
  }

  > header {
    grid-area: header;
    > h1 {
    }
  }

  .content {
    grid-area: content;
  }
  
  footer {
    grid-area: footer;
  }
  .article-share {
    display: none;
  }

  &:hover {
    box-shadow: .5em .5em .7em rgba(0,0,0,.4);

    .more {
    }

    a:hover {
    }
  }

  .more {
    // align-self: flex-end;
  }
}
