
// BREAKPOINT
@import '_media/var-18em';
@import '_media/functions';
@import '_media/mixins';

// FONTS
@import '_fonts/_Bree-Serif';
@import '_fonts/_Lato';
@import '_fonts/_photon-social';
// @import '_fonts/_Lato';

$font-display: $font-Bree-Serif;
$font-root: $font-Lato;

$form-font: $font-root;

// COLOR
$color-key-hue: 44;
$color-1-hue: 144;
$color-2-hue: 244;

$saturation: 30;

// this generates the color pallete
@import '_color/_default';
@import '_color/_social';


$color-foreground: $color-neutral-darker;
$color-background: $color-neutral-lighter;

:root {

  --color-fg: #{$color-foreground};
  --color-bg: #{$color-background};
  --color-key: #{$color-key};

  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);

  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
  --col-4: calc( var(--col) * 4 );
  --col-5: calc( var(--col) * 5 );
  --col-6: calc( var(--col) * 6 );

  --header-height: 9em;
}
