// COLOR
// @import '_color/_social'"};
:root {
  --color-key-lighter: #{"hsl( var(--hue-key), var(--sat), 90%)"};
  --color-key-light:   #{"hsl( var(--hue-key), var(--sat), 70%)"};
  --color-key:         #{"hsl( var(--hue-key), var(--sat), 50%)"};
  --color-key-dark:    #{"hsl( var(--hue-key), var(--sat), 30%)"};
  --color-key-darker:  #{"hsl( var(--hue-key), var(--sat), 20%)"};

  --color-1-lighter:   #{"hsl( var(--hue-1), var(--sat), 90%)"};
  --color-1-light:     #{"hsl( var(--hue-1), var(--sat), 70%)"};
  --color-1:           #{"hsl( var(--hue-1), var(--sat), 50%)"};
  --color-1-dark:      #{"hsl( var(--hue-1), var(--sat), 30%)"};
  --color-1-darker:    #{"hsl( var(--hue-1), var(--sat), 20%)"};

  --color-2-lighter:   #{"hsl( var(--hue-2), var(--sat), 90%)"};
  --color-2-light:     #{"hsl( var(--hue-2), var(--sat), 70%)"};
  --color-2:           #{"hsl( var(--hue-2), var(--sat), 50%)"};
  --color-2-dark:      #{"hsl( var(--hue-2), var(--sat), 30%)"};
  --color-2-darker:    #{"hsl( var(--hue-2), var(--sat), 20%)"};

}
