// FONTS
// @import '_fonts/_Bree-Serif';
// @import '_fonts/_Lato';
@import '_fonts/_photon-social';
// @import '_fonts/_Lato';


:root {
  --font: serif;
  --font-display: sans-serif;
  --font-form: var(--font);
  --font-social: #{$font-photon-social};

  --bullett: '✴';

}
