@page {
  size: 8.5in 11in;
  margin: .25in;

  @top-center {
   content: "photon";
  }
  
  @bottom-center {
   content: counter(page);
  }
}

@media print {
  html {
    font-size: 12pt;
    width: 7in;
    display: block;
    background: transparent;
  }

  body {
    --bg: white;
    background: transparent;
    // width: 8.5in;
    // height: 11in;

    display: block;

    > header {
      width: 100%;
      flex-direction: row;
      // justify-content: center;
      // align-content: center;

      > .logo {
        flex: auto;
      }

      > h1 {
        font-size: 1.1em;
      }

      > nav {
        display: none;
      }

      img {
        // width: 5em;
      }
    }
    
    > .asides {
      display: none;
    }

    > main {
      display: block;

      article {
        display: block;

        > nav.context {
        }

        > figure {
        }

        > footer {
          display: none;
          > nav, > aside {
          }
        }
      }

      .collection {
        display: none;
      }
    }


    > footer {
      > nav, > aside {
        display: none;
      }

      > .contact {
        display: flex;
        align-items: center;
      }
    }
  }
}
