/* photon ✴ Theme Components and Templates */

/* fonts *****************************/
@import 'fonts';

/* color *****************************/
@import 'color';

/* media *****************************/
@import "media";


:root {

  --fitz: .5em;
  --col: 18em;
  --header-height: 6em;

  --fitz-2: calc(var(--fitz) * 2);
  --fitz-half: calc(var(--fitz) / 2);

  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
  // --col-4: calc( var(--col) * 4 );
  // --col-5: calc( var(--col) * 5 );
  // --col-6: calc( var(--col) * 6 );
}

// set defaults from simplest to most complex

/* base elements *****************************/
@import 'elements';

/* articles/article *****************************/
@import 'articles';

/* asides/aside *****************************/
@import 'asides/aside';
/* asides/search *****************************/
@import 'asides/search';


/* sections/_default *****************************/
@import 'sections/_default';
/* sections/asides *****************************/
@import 'sections/asides';
/* sections/featured *****************************/
@import 'sections/featured';
/* sections/footer *****************************/
@import 'sections/footer';
/* sections/header *****************************/
@import 'sections/header';
/* on/main *****************************/
@import 'sections/main';
/* sections/nav *****************************/
@import 'sections/nav';
/* sections/showcase *****************************/
@import 'sections/showcase';


/* templates/_default *****************************/
@import 'templates/_default';
/* templates/home *****************************/
@import 'templates/home';
/* templates/article *****************************/
@import 'templates/article';

//* diagrams *****************************/
//@import 'diagrams';


/* Print *****************************/
@import 'print/_default';
