{# inspired by Perlkonig's Grav Knowledge Base theme #}
{# https://github.com/Perlkonig/grav-theme-knowledge-base #}
      <article class="{{ article.template }}" data-url="{{ article.url }}">
{# {% include "_articles/_block/article_figure.html.twig"  #}
      {# with { 'article': article } %} #}
        <header>
          <h1>{{ article.title }}</h1>
          {# <h2>{{ uri.param('category') }}</h2> #}
        </header>
        <footer>
{% include '_asides/list-taxonomy.html.twig' 
        with {'tax_type':'category', 'nav_title':'Categories'} %}
{% include '_asides/list-taxonomy.html.twig' 
        with {'tax_type':'tag', 'nav_title':'Tags'} %}
        </footer>
        <!-- user/themes/photon/templates/_articles/_block/taxonomy.html.twig -->
      </article>
