article.excerpt,
article.showcase {
  cursor: pointer;

  transition: box-shadow .5s,
    background .5s;

  .article-share {
    display: none;
  }

  &:hover {
    // --color: var(--color-bg);
    --bg: white;

    box-shadow: .5em .5em .7em rgba(0,0,0,.4);
    .more {
      // color: var(--color-bg);
      // background: var(--color-key);
    }

    a:hover {
      // color: var(--color-bg);
      // background: var(--color-key);
    }
  }

  .more {
    align-self: flex-end;
  }
}
