
  > header {
    @extend %body-section-default;
    display: flex;
    flex-flow: row nowrap;
    
    .logo {
      a {
        display: block;
        padding: var(--fitz);

        img {
          height: 3em;
          margin: .5em auto;
        }

        h1 {
          font-size: 1.1em;
          letter-spacing: .1em;
          padding-left: .5em;
          text-align: center;
        }
      }
    }

    nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      h1 {
        display: none;
      }

      label::after {
        display: block;
        width: 100%;
      }

      a {
        // padding: .25em 1em;
        // margin-left: .1em;
        letter-spacing: .1em;
        text-transform: uppercase;
      }
    }

    .contact {
      padding: var(--fitz);

      p {
        font-size: .8em;
        text-align: center;
      }
    }
  }
