// default component for asides
// in sidebars and footer

aside {

  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;

  h1, h2 {
    font-variant: small-caps;
    text-decoration: underline;;
    font-size: 1.1em;
  }

  ul {
    list-style: none;
    margin: 0 1em;

    > li {
      margin: .4em;
      width: 100%;
      > span {
        font-size: .75em;
        font-weight: bold;
        // margin: 0 .5em;
        padding: .25em ;
        margin-left: .5em;
        // color: $color-1;
        background: var(--color-1);
        border-radius: 20% 20%;
      }
    }
  }

  p {
    padding-bottom: .2em;
  }

  > a {
    display: list-item;
    // list-style: square outside;
    list-style: none;
    // margin-left: var(--fitz-2);
  }

  // *****************************************
  &.org {
    font-size: .7em;
    text-align: center;
    // padding: 0 .5em;
  }

  // *****************************************
  &.article-share, &.follow {
    // padding: 0;
    h1 {
      // display: none;
    }
    ul {
      font-family: var(--font-icon);
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: center;
      li {
        width: auto;
      }
      a {
        text-transform: inherit;
        padding: .3em;
        font-size: 1.1em;
      }
    }
  }
}
