/* asides/aside *****************************/

aside, nav {
  h1, h2 {
    font-size: 1.1em;
  }

  ul {
    list-style: none;
    margin: 0 1em;

    > li {
      margin: .4em;
      > span {
        font-size: .75em;
        font-weight: bold;
        // margin: 0 .5em;
        padding: .25em ;
        margin-left: .5em;
        // color: $color-1;
        background: var(--color-1);
        border-radius: 20% 20%;
      }
    }
  }

  > a {
    display: list-item;
    // list-style: square outside;
    list-style: none;
  }

  p {
    padding-bottom: .2em;
  }

  &.article-share, &.follow {
    ul {
      font-family: var(--font-icon);
      list-style: none;
      li {
        width: auto;
      }
      a {
        text-transform: inherit;
        padding: .3em;
        font-size: 1.1em;
      }
    }
  }
}
