
> figure {
  // grid-area: figure;
  overflow: hidden;
  // max-width: 50%;
  display: flex;
  flex-flow: column nowrap;

  > img {
    width: 100%;
    height: 100%;
    max-height: var(--col);
    margin: 0 auto;

    object-fit: cover;
    object-position: center;
  }

  > figcaption {
  }

  // &:empty {
    // display: none;
  // }
}
