{% if article.taxonomy.category %}

  <aside class="article-categories">
    <h2>Categories</h2>
    <ul>
      {% for category in article.taxonomy.category %}
      <li><a href="/search/taxonomy/category{{ config.system.param_sep }}{{ category }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}
