@mixin article-banner() {
  /* article-banner */

  > figure {
    max-height: 9em;
    padding: var(--fitz);
    > img {
      height: 100%;
      // object-fit: cover;
      object-position: center;
    }
  }

  > header {
    padding: var(--fitz);
    
    text-align: left;
    display: block;
    > * {
      text-align: left;
      margin-left: 0;
    }
  }
  > .content {
    text-align: left;
    margin: 0;

    .summary {
      text-align: left;
      > ul {
        list-style: disc;
        text-align: left;
        margin: 0;
        margin-left: 1em;
        padding: 0;
        li::after {
          display: none;
        }
      }
    }
  }

  > footer {
    // align-items: flex-end;
    // align-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
    > aside {
      padding: 0;
      > h1 {
        display: none;
      }
      ul, li {
      }
    }

    > nav {
      padding: 0;
      // align-self: flex-end;
      justify-content: flex-end;
    }
  }

  @include media-bp(2) {
    // grid-template-columns: 1fr 16em   52em   1fr;
    @supports (display: grid) {

      display: grid;

      grid-template-areas:
        ' figure header '
        ' figure content '
        ' figure footer';

      grid-template-columns:  calc(var(--col) / 2) 1fr;
      grid-template-rows:  auto 1fr auto;

      > footer {
        // flex-flow: column;
      }
      &:nth-child(even) {
      }
    }
  }
}
