// default anchor tag

a {

  --color: var(--color-key);
  --bg: none;

  --a-active-color: var(--color-2-dark);
  --a-active-bullet: '✴';

  --hover-color: var(--color-bg);
  --hover-bg: var(--color-key);

  color: var(--color);
  background: var(--bg);

  text-decoration: none;

  display: flex;
  flex-flow: row;
  justify-content: center;

  &:link {
    color: var(--color);
  }

  &:visited {
    color: var(--color);
  }

  &:hover {
    --color: var(--hover-color);
    --bg: var(--hover-bg);
  }

  &:active {
    color: var(--a-active-color);
  }

  &.active {

    font-weight: 700;

    &::before, &::after {
      content: var(--a-active-bullet);
      // margin: 0;
      padding: 0 var(--fitz);
    }
  }

  @include media-bp(3) {
    flex-flow: column;
  }

}
