{% set options = { items: {'@root.descendants': '/'}, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
{% set recent_pages = page.collection(options) %}
      <aside class="recent">
        <h2>Recent</h2>
        {% for p in recent_pages %}
          <a  href="{{ p.url }}">{{ p.title }}</a>
        {% endfor %}
      </aside>
