// default body
// defaults for top level blocks top level sections


body {

  --bg: var(--color-2-darker);

  --body-footer-bg: var(--color-bg);
  --body-asides-bg: var(--color-bg);
  --body-form-bg: var(--color-bg);

  background: var(--bg);
  padding: var(--fitz);

  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: flex-start;

  %body-section-default {
    margin: var(--fitz);
  }

  // default sections
  > header {
    @extend %body-section-default;
    --bg: var(--color-bg);

    height: var(--header-height);
    padding: var(--fitz-2);

    background: var(--bg);

    overflow: hidden;

    justify-content: space-around;

  }

  > main {
    @extend %body-section-default;
    width: 100%;
    margin: 0;

    display: flex;
    flex-flow: column;

    > * {
      margin: var(--fitz);
      padding: var(--fitz);
    }

    > header {
    }

    > article {
      > figure {
        max-height: 60vh;
      }
    }

    > .collection {

      flex-flow: column;

      display: grid;
      grid-template-columns: repeat( auto-fit, minmax( var(--col), 1fr ) );

      padding: 0;
      margin: 0;

      > * {
        margin: var(--fitz);
        padding: var(--fitz);
      }

      > h1 {
        color: var(--color-fg);
        padding: 0;
        color: var(--color-bg);
        grid-column: 1 / -1;
      }
      .excerpt {

        @include article-card;
        /* extends article.banner */
        > figure {
          background: none;
        }
      }
    }

    > section.form {

      background: var(--body-form-bg);

      flex-flow: column;

      form {
        width: 100%;
      }
    }
  }

  > .asides {
    @extend %body-section-default;

    background: var(--body-asides-bg);

  }

  > footer {
    @extend %body-section-default;

    background: var(--body-footer-bg);

  }

  @include media-bp(1) {
  }

  @include media-bp(2) {
  }

  @include media-bp(3) {

    @supports (display: grid) {

      display: grid;
      grid-template-areas:
        " header main "
        " asides main "
        " footer footer ";
      grid-template-columns: var(--col)   1fr;
      grid-template-rows: auto 1fr auto;

      > header {
        grid-area: header;

        height: auto; //remove initial fixed height

        flex-direction: column;

        > .logo {
          img {
            height:8em;
          }
        }

        > nav {

          padding: 1em 0;

          flex-flow: column nowrap;
          justify-content: center;

          a {
            text-align: center;
          }
        }
      }

      > main {
        grid-area: main;
      }

      > .asides {
        grid-area: asides;
        justify-content: flex-start;
      }

      > footer {
        grid-area: footer;
      }
    }

  }

  @include media-bp(4) {

    @supports (display: grid) {

      > main {
        display: grid;
        grid-template-areas:
          " article collection "
          ;
        grid-template-columns: 48em   1fr;

        > article {
          grid-area: article;

          // height: 100%;
        }

        > .collection {
          grid-area: collection;

          > .excerpt {
            // @include article-banner;
          }
        }
      }
    }
  }


  @include media-bp(6) {
    > main {
      > .collection {
        // width: var(--col-6);
        // width: 50%;

        > .excerpt {
          // @include article-banner;
        }

      }
    }

  }

}
