//default - mobile first

body.home {

  > header {
  }

  > .showcase {
    @extend %body-section-default;

    padding: 0; //each article has padding

    // set to height of the screen - header and margins
    min-height: calc(100vh - var(--header-height) - (var(--fitz-2) * 3));
  }

  > .welcome {
    @extend %body-section-default;
  }

  > .featured {
    // @extend %body-section-default;
  }

  > main {
    > .collection {
      color: var(--color-2-light);

    }
  }

  @include media-bp(1) {
  }

  @include media-bp(2) {
  }

  @include media-bp(3) {

    @supports (display: grid) {

      display: grid;
      grid-template-areas:
        "  header   showcase "
        "  asides   featured "
        "  asides   welcome "
        "  asides   main   "
        "  asides   footer   ";
      grid-template-rows:  calc(100vh - var(--fitz-2)) ;

      > .showcase {
        grid-area: showcase;

        height: calc(100vh - 2em);
      }

      > .featured {
        grid-area: featured;
      }

    }
  }
  @include media-bp(4) {

    @supports (display: grid) {

      display: grid;
      grid-template-areas:
        "  header   showcase featured"
        "  asides   welcome welcome"
        "  asides   main   main"
        "  asides   footer   footer";
      grid-template-rows:  calc(100vh - var(--fitz-2)) ;
      grid-template-columns: var(--col)   2fr 1fr;

      > main {
        flex-flow: column;

        > article {
          padding-bottom: 1em;
        }

        > .collection {
          width: 100%;
          display: grid;
          grid-template-columns: repeat( auto-fit, minmax( 36em, 1fr ) );

          > h1 {
            grid-column: 1 / -1;
          }

          > .excerpt {
            @include article-banner;
          }
        }
      }

      > .featured {
        flex-flow: column;
      }
    }
  }

  @include media-bp(5) {
  }
  @include media-bp(6) {
  }
}
