{% set options = { items: {'@taxonomy.tag': 'featured' }, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } %}
{% set featured_collection = page.collection(options) %}
<section class="featured">
  {% for article in featured_collection %}
  {% include ["_articles/#{ article.template }-excerpt.html.twig", "_articles/article-excerpt.html.twig"] with { 'article': article } %}
  {% endfor %}
</section>
