
    <header>

      <div class="logo">
          <a href="{{ home_url }}" >
            {% if config.site.logo %}
            <img src="/images/{{ config.site.logo }}" alt="logo">
            {% endif %}
            <h1>
              {{ site.title }}
            </h1>
            {% if theme.subtitle  %}
              <h2>{{ theme.subtitle }}</h2>
            {% endif %}
          </a>
      </div>

      {% include '_sections/nav.html.twig' %}
      {% include '_asides/contact.html.twig' %}

      <a href="javascript:void(0);" class="toggle" onclick="toggleMenu()">✴</a>
    </header>
