          <div class="content">
{% if article.summary %}
            <div class="summary">
              {{ article.summary }}
            </div>
{% endif %}
{# {% include '_asides/list-featured.html.twig' %} #}
{% include '_articles/_block/article_footer/list-featured-descendants.html.twig' 
        with { 'article': article } %}
          </div>
