{% if article.header.show_gallery == 1 %}
    <div class="article-gallery">
      {% for image in article.media.images -%}
        <figure>
          {{ image.lightbox(1920).cropZoom(400,400).html('Sample Image') }}
        </figure>
      {% endfor %}
    </div>
{% endif  %}
