{% extends 'default.html.twig' %}
{% set type = "article" %}
{% set types = "articles" %}
{% block template %}
{{ parent() }}
<!-- user/themes/photon/templates/article.html.twig -->
{% endblock template %}

{% block body_template_classes %}{{ parent() }} {{ type }}{% endblock body_template_classes %}

{% block main %}
    <main data-collection="{{ page.collection.count }}">
{%   block content %}
{%     include [
            "_articles/#{ page.template }.html.twig", 
            "_articles/article.html.twig"
          ] with { 'article': page } %}
{%     block collection %}
{%       include [
            "_articles/_block/#{ page.template }_collection.html.twig", 
            "_articles/_block/article_collection.html.twig"
          ] with { 'article': page } %}
{%     endblock collection %}
{%   endblock content %}
    </main>
{% endblock main %}

