

:root {
}

pre,
code,
kbd,
samp {

  --color: var(--color-bg);
  --bg: var(--color-fg);

  padding: .1em .25em;

  color: var(--color);
  background: var(--bg);

  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.5;

  border-radius: 0;
}

code {

  height: auto;

  pre & {
    padding: 1em;

    display: block;
  }

}

pre {

  display: block;
}
